body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url("https://external-preview.redd.it/c9p8PkI1DPeNFFIX7MRuvQVfxr5r-Akd3TLCM9Nz7mQ.jpg?width=1080&crop=smart&auto=webp&s=56c5792c0c19bd494c0fc1d10b1da432fece1b1c");
    background-size: cover;
    overflow: hidden;
  }
  
  h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    text-align: center;
    color: orchid;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.7);
    margin-top: 210px;
    font-weight: bold;
    
  }
  
  .clock {
    display: flex;
  }
  
  .clock div {
    margin: 5px;
    position: relative;
  }
  
  .clock span {
    width: 100px;
    height: 80px;
    background: slateblue;
    opacity: 0.8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5), -3px -5px 5px rgba(255, 255, 255, 0.7);
  }
  
  .clock .text {
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;
    font-weight: bold;
  }
  
  .clock #ampm {
    bottom: 0;
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(247, 20, 247);
  }